{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
      <!-- index.html -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/styles.bundle.css' %}" rel="stylesheet">
</head>
<body>
  <app-root>Loading...</app-root>
<script type="text/javascript" src="{% static 'js/runtime.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'js/polyfills.bundle.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'styles.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor.js' %}"></script>
 --><script type="text/javascript" src="{% static 'js/main.bundle.js' %}"></script>
<h3> Hi {{project_title}}! </h3>
<b> This is the landing page </b>
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  
</div>
<h2>Test App: {{c1.live}}</h2>
<button (click)="click1()" >click me</button>
</body>
</html>
